body
  font-family: 'Open Sans', sans-serif  
  display: flex
  flex-direction: column
  text-align: center

h1
  border-style: solid
  border-width: 10px
  padding: 100px
  font-size: 10em
  color: #555

p
  font-style: italic
